/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: rgba(33,33,33,1);
$primary-text-color: white;
$primary-page-height: 100vh;
$primary-border-radius: 4px 4px 4px 4px;

* {
  margin: 0;
  // padding: 10px;
}
body {
  background-color: $primary-background;
}
//*********************header and buttons**********************

header {
  align-items: flex-end;
  display: flex;
  height: 135px;
  background-color: $primary-background;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  color:white;
}

.show-current-date {
  font-size:1.8em;
  color:lightgrey;
  letter-spacing: 13px;
  margin-bottom: 1em;
  position: relative;
  right: 18em;
}

.buttons {
  border-bottom: none;
  // border: 10px rgba(0,190,190,1);
  color: white;
  height: 55px;
  letter-spacing: 2px;
  margin-right: 10px;
  width: 150px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  background: $primary-background;
}

//*********************tabs and content**********************
.splash-page {
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
  height: $primary-page-height;
}

h1 {
  font-size: 6em;
  letter-spacing: 1em;
  margin-left: 1em;
  padding-bottom: 2em;
}

.main-content-section {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $primary-page-height;
  text-align:center;
  color:gainsboro
}

.total-rooms-available, 
.total-revenue,
.percentage-of-rooms-occupied {
  height: 500px;
  width: 400px;
  border: 4px solid black;
  background-color: rgba(0,0,0,0.5);
  padding-top: 25px;
  border-radius: $primary-border-radius;

}

.box-to-display-rooms-available,
.box-to-display-total-revenue,
.box-to-display-percentage-of-rooms-occupied {
  border: 2px solid black;
  height: 435px;
  width: 350px;
  margin-left: 1.4em;
  margin-top: 10px;
  background-color:rgba(0,0,0,0.5);
  border-radius: $primary-border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
}

.append-info-total-rooms-available,
.append-info-total-revenue {
  font-size: 4em;
}
.append-percent-occupied {
  font-size: 2em;
}

.percent {
  font-size: 2em;
}

.total-revenue {
  margin-left: 1em;
  margin-right: 1em;
}

.customers-content-section {
  background-color: lightgrey;
  height: $primary-page-height;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
}

.customer-search-container,
.create-customer-container {
  height:400px;
  width:460px;
  border: 2px solid black;
  background-color: rgba(0,0,0,0.5);
  border-radius: $primary-border-radius;
}

.search-customer,
.create-customer {
  font-size: 2em;
}

.customer-input,
.search-input {
  height: 45px;
  width: 385px;
  font-size: 1.5em;
  margin-top:5em;
  border-radius: $primary-border-radius;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding-left:10px;
  vertical-align: sub;
  margin-left: 1.3em;
}

.append-user-on-screen {
  text-align: center;
  font-size: 4.5em;
}

.customer-tab-buttons {
  height: 51px;
  width: 16em;
  margin-left:-5px;
  vertical-align:bottom;
  margin-left: 1.2em;
  margin-top: 0.5em;
  font-size: 25px;
  border-radius: $primary-border-radius;
}

.rooms-content-section {
  background-color: silver;
  height: $primary-page-height;
  display:flex;
  justify-content: space-evenly;
  align-items:center;
}

.available-dates-container {
  height: 500px;
  width: 400px;
  border: 4px solid black;
  background-color: rgba(0,0,0,0.5);
  padding-top: 25px;
  border-radius: $primary-border-radius;
}

.box-to-display-available-dates {
  border: 2px solid black;
  height: 435px;
  width: 350px;
  margin-left: 1.4em;
  margin-top: 10px;
  background-color:rgba(0,0,0,0.5);
  border-radius: $primary-border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-to-display-booking-info {
  border: 2px solid black;
  height: 370px;
  width: 815px;
  margin-left: 1.4em;
  margin-top: -8px;
  background-color:rgba(0,0,0,0.5);
  border-radius: $primary-border-radius;
  padding-top: 30px;
  padding-left: 35px;
  text-align:center;
}

.display-customer-booking-info {
  width: 328px;
}

.search-room-input-container {
  display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 28px;
    margin-right:8em;
}
.search-date-for-rooms-input {
  height: 45px;
  width: 280px;
  font-size: 1.5em;
  // margin-top:5em;
  border-radius: $primary-border-radius;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding-left:10px;
  // vertical-align: sub;
  // margin-left: 1.3em;
}
.available-room-buttons {
  height: 51px;
  width: 3em;
  // margin-left:-5px;
  // vertical-align:bottom;
  margin-left: 0;
  // margin-top: 0.5em;
  font-size: 25px;
  border-radius: $primary-border-radius;
}
.customer-booking-container {
  height: 500px;
  width: 900px;
  border: 4px solid black;
  background-color: rgba(0,0,0,0.5);
  padding-top: 25px;
  border-radius: $primary-border-radius;
}

.booking-message {
  color: lavender;
  font-size: 2em;
  margin-bottom: 2em;
}

th, td {
  font-size: 18px;
  padding: 5px;
  color:lavender;
}

th {
  font-size: 20px;
  color:lavender;
  width:100px;
}


.orders-content-section {
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $primary-page-height;
  text-align:center;
  // padding-top: 25px;
  color:gainsboro;
  justify-content: space-evenly;
}

.room-service-total,
.total-room-service-revenue,
.all-room-service-transactions {
  height: 500px;
  width: 400px;
  border: 4px solid black;
  background-color: rgba(0,0,0,0.5);
  padding-top: 25px;
  border-radius: $primary-border-radius;
}

.box-to-display-room-service-total,
.box-to-display-total-room-service-of-all-time,
.box-to-display-all-transactions {
  border: 2px solid black;
  height: 435px;
  width: 350px;
  margin-left: 1.4em;
  margin-top: 10px;
  background-color:rgba(0,0,0,0.5);
  border-radius: $primary-border-radius;
}

.total-per-day {
  height: 45px;
  width: 286px;
  font-size: 1.5em;
  margin-top:5em;
  border-radius: $primary-border-radius;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding-left:10px;
  vertical-align: sub;
  margin-left: 0.1em;
}

.order-button {
  height: 51px;
  width: 12em;
  margin-left:-5px;
  vertical-align:bottom;
  margin-left: 0.1em;
  margin-top: 0.5em;
  font-size: 25px;
  border-radius: $primary-border-radius;
}


